.cardStyle{
    height: 600px !important;
    width: 590px !important;
}
/* .OCard{
  width: "350px";
  height: "690px";
  position: "relative";
  /* boxShadow: "6px 6px 6px 6px rgb(204,204,204)", 
} */